<li id='comment-<%=comment._id%>'>
    <p>
        <%if(locals.user && (locals.user.id == comment.user._id || locals.user.id==post.user._id)){%>
        <a class='delete-comment-button' href="/comments/destroy/<%=comment._id%>">DEL</a>
        <%}%>
        <%=comment.content%>
    </p>
    <p> <%= comment.user.name %></p>
        <%if(locals.user){%>
        <p><a class='toggle-like-button' data-likes ='<%=comment.likes.length%>' href="/likes/toggle?id=<%=comment._id%>&type=Comment"><%=comment.likes.length%></a></p>
        <%}else{%>
            <%=comment.likes.length%>
        <%}%>
    </li>